
<!-- Supplier Results -->
<div class="panel panel-default">
    <div class="panel-heading">
        Approved Suppliers for {{ component }}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Company</th>
                    <th>Representative Name</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                {% for supplier in supplier_results %}
                    <tr>
                        <td>{{ supplier.name }}</td>
                        <td>
                        {% for rep in supplier.get_representatives %}
                            <div>{{rep.name}}</div>
                        {% empty %}
                            <div>No Name</div>
                        {% endfor %}
                        </td>
                        <td>
                        {% for rep in supplier.get_representatives %}
                        <div>
                            <a href="mailto:"{{rep.email}}>{{rep.email}}</a>
                        </div>
                        {% empty %}
                            <div>No Contact Info</div>
                        {% endfor %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No authorized suppliers found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
<!-- / Supplier Results Panel -->
